.signupContainer,
.loginContainer {
	max-height: auto;
	width: 350px;
	margin: 50px 0;
	padding: 30px 0;

	display: flex;
	justify-content: center;
	align-items: flex-start;

	border-radius: 11px;
	background-color: violet;
}

.loginContainer {
	height: 350px;
}

.authForm {
	display: flex;
	flex-direction: column;
	height: 90%;
	justify-content: space-between;
	gap: 5px;
}

.submitBtn {
	margin-top: 15px;
	background-color: darkviolet;
	width: 100%;
	transition: 0.3s;
	border: none;
}

.submitBtn:hover {
	background-color: rgb(97, 21, 97);
}

.errorMessage {
	color: red;
}
