.list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	margin: 20px 0;
}

.actionBtns {
	display: flex;
	justify-content: space-between;
}
.sortIcon {
	width: 30px;
	height: 30px;
	fill: currentColor;
	color: white;
}
