.actorBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	height: inherit;
	font: inherit;
}

.actor {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 5px;
	width: 100%;
	padding: 6px 0;
}
button {
	display: flex;
	justify-content: center;
	align-items: center;
}
button:disabled {
	cursor: default;
}
svg:disabled {
	cursor: default;
}
