.footer {
	background-color: violet;
	width: 100%;
}

.container {
	height: 60px;
	margin: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.github {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	color: darkviolet;
	transition: color 0.3s;
}

.github a {
	font-weight: 600;
	text-decoration: underline;
	color: inherit;
}

.github:hover {
	color: white;
}

.gitIcon {
	width: 25px;
	height: 25px;
	fill: currentColor;
}
