.actorBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	height: inherit;
	font: inherit;
}

.actor {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	width: 100%;
	padding: 12px 0;
}
